PORT=9000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=HealthSage_v1

# Auth
JWT_SECRET=change_me_in_real_env
JWT_EXPIRES_IN=1h

# FastAPI (internal AI service)
FASTAPI_BASE_URL=http://localhost:8000/api/v1

# CORS
CORS_ORIGIN=http://localhost:19006

